.card_list__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 30px;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
  gap: 30px;
}
